<mat-toolbar class="main-toolbar bg-primary-dark">
  <button mat-icon-button (click)="toggleSidenav()" class="mr-2">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="../../../assets/logo seacrew.jpg" alt="Seacrew logo" class="brand-img rounded-circle img-thumbnail">

  <span>Anker Seacrew</span>
  <span class="spacer"></span>


  <button mat-button [matMenuTriggerFor]="profileMenu">John Doe</button>
  <mat-menu #profileMenu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/login">
      <mat-icon class="material-icons-outlined">login</mat-icon>
      <span class="pr-3">Login</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon class="material-icons-outlined">clear</mat-icon>
      <span class="pr-3">Logout</span>
    </button>

  </mat-menu>

</mat-toolbar>