<div class="container">
  <div class="row">
    <div class="col-12">
      <app-header title="Header"
        subtitle="This is a header component, it is meant to be used as a page header containing the page title, this section is meant for supporting text."
        icon="dashboard"></app-header>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-header-small title="Header small"
        subtitle="This is a header-small component, it is meant to be used as a section header containing the section title, once again is this supporting text.">
      </app-header-small>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <h1>h1. Mat heading</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>h2. Mat heading</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>h3. Mat heading</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h4>h4. Mat heading</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5>h5. Mat heading</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h6>h6. Mat heading</h6>
    </div>
  </div>
  
</div>